#title_main2{
	width: 500px;
	z-index: 999;
}
#title_left2{
	left : 25px;
	width: 150px;
}

#time2{
	position: absolute;
	top: 85px;
	right: 25px;	
	font-size : 15px;
	color: white;
} 
#date2{
	position: absolute;
	top: 85px;
	right: 125px;	
	font-size : 15px;
	color: white;
} 

hr{
	margin-top: 120px;
	z-index: 99;
	width: 95%;
	border: 2px solid white;
}

#mainTable{
	margin: 0 auto;
	width: 95%;
	z-index: 99;
}

.leftTd{
	border-right: 5px solid white; width: 50%; padding: 0 0 0 0";
}

